/*
Google fonts that have been linked;

font-family: 'Jost', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html, body {
    background-color: rgb(15, 10, 10);
    min-width: 500px;
}

header {
   background-color: rgb(145, 70, 255 ); 
   display: flex;
}

.nameplate {
    flex: 1;
    font-family: 'Jost', sans-serif;
    font-size: 1.5em;
    margin: .5em;
}

.nav {
    flex: 1;
    text-align: right;
    margin-top: 1em;
}
header a {
    color: rgba(255, 255, 255, 1);
    font-family: 'Karla', sans-serif;
    margin: 1em;
    text-decoration: none;
}

section {
    background-color: rgba(100, 66, 66, 0.4);
    min-width: 500px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2em;
    font-family: 'Karla', sans-serif;

}

section p {
    display: block;
    padding:1em;
    color: rgba(255, 255, 255, 1);
}

#projectWrapper {
    max-width: 800px;
    padding: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    flex: 0;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    margin: 10px;
}

.project img {
    width: 194px;
    height: 194px;
}

.project .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgba(145, 70, 255, 0.8);
}
.face {
    flex: 1;
}

.face img {
    width: 80%;
    margin: 1em;
}

.flex {
    display: flex;
}
.about {
    flex: 4;
    color: rgb(255,255,255);
    padding: 1em;
    text-align: center;
    line-height: 25px;
    font-family: 'Jost', sans-serif;
    margin: 1em;
}

.neumorph {
    box-shadow: 
    4px 4px 5px 0 rgba(0, 0, 0, 0.25),
    -3px -3px 4px 0 rgba(255, 255, 255, 0.3),
    4px 4px 5px 0 rgba(255, 255, 255, 0.3) inset,
    -3px -3px 4px 0 rgba(0, 0, 0, .25) inset;
}